/* Footer design */
.footer {
  background-color: #333333;
  color: $white;
  height: 100px;
  p {
  margin-top: 17px;
  }
}

.footer-fa {
  font-size: 30px;
  margin: 20px;
  &:hover {
    transform: scale(1.50);
    color: $yellow;
    transition: all 200ms ease-in-out;
  }
}

.bottom-line p {
  margin-right: 10px;
}

